.actions {
  position: fixed;
  right: 0;
  top: 8vh;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 87vw;
  min-height: 94vh;
}
.MuiDataGrid-columnHeaderTitleContainer {
  font-size: large;
  color: #00394d;
}