.refer {
  position: fixed;
  right: 0;
  top: 4.8rem;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 87vw;
  min-height: 94vh;

  .refer-text {
    margin-left: 3rem;

    .heading-logo {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 2rem;
      h2 {
        font-size: 1.8rem;
        font-weight: 550;
      }
      .refer-logo {
        font-size: 1.9rem;
      }
    }

    .text {
      margin: 2rem 0;
      p {
        font-size: 1.6rem;
        font-weight: 500;
        padding: 0.6rem 0;
      }
    }

    .token-btn {
      border: 3px dotted black;
      background: #c9ecfc;
      width: 12rem;
      padding: 0.6rem 1rem;
      border-radius: 18px;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      margin-bottom: 2rem;
      color: #00394d;
      font-size: 1.4rem;
    }

    .refer-ul {
      height: 0.65px;
      width: 46vw;
      background: black;
      margin-bottom: 1.8rem;
    }
    .referral-link {
      margin-bottom: 1rem;
      p {
        font-size: 1.6rem;
        font-weight: 500;
      }
      a {
        font-size: 1.2rem;
        color: #00394d;
        font-weight: 500;
      }
    }

    .refer-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      input {
        height: 3rem;
        width: 28rem;
        background: #c9ecfc;
        border: none;
        border-radius: 4px;
        margin: 0.5rem 0 1.5rem 0;
        padding: 1rem;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
      }

      button {
        border: none;
        background: #00394d;
        width: 12rem;
        padding: 1rem 1rem;
        border-radius: 19px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        margin: 1rem 0;
        color: white;
        font-size: 1.4rem;
        cursor: pointer;
      }
    }
  }

  .corner-svg {
    position: absolute;
    top: 0;
    right: 0;
    height: 42vh;
    width: 26vw;
  }

  .bottom-svg {
    position: absolute;
    right: 0;
    top: 40vh;
    height: 50vh;
    width: 31.5vw;
  }
}

@media screen and (min-width: 1600px) {
}
