.n1 {
  width: 100%;
  height: 50px;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

    /* padding: 10px; */
      padding-right: 10px;
}

.head {
  padding-left: 10px;

}

.menu {
  padding-right: 10px;
  display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    
}

.draw {
  
  display: flex;
  flex-direction: column;
width: 230px;
  height: 100%;
  justify-content: flex-start;
  /* gap: 10px; */
  padding-bottom: 20px;
  background-color: #00394d;

}

.w {
  width: 100%;
  text-align: center;

  align-items: center;
  display: flex;
  justify-content: center;


}
.w1 {
  width: 100%;
  
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  /* margin-bottom: 20px; */
}

.login-btn {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  border: none;
  /* background: #7cea51; */
  color: #00394d;
  cursor: pointer;
}
.MuiDataGrid-columnHeaderTitleContainer {
  display: none;
}
.g {

  background-color: black;
  color: white;
}

.n2 {

  width: 100%;
  height: 50px;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  gap: 20px;
  
}

/* .rp {

  transform-origin: center;

  animation: rk 400ms ease-in-out 50ms;
}

@keyframes rk {
  from {}

  to {
    transform: rotate(360deg);
  }
} */
.rg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.r1 {
  border: 2px solid black;
  transition: all 0.4s ease-in-out;
  width: 20px;
  transform-origin: center;
  border-radius: 2px;
  background-color: black;
}




.rk {


  transform: rotateZ(-24deg);
  width: 10px;

  border: 0.1px solid black;
}

.rf {
  transform: rotateZ(24deg);
  border: 0.1px solid black;
  width: 10px;


}

.rg1 {



  transform: translateX(3px);
  border: 0.1px solid black;
  width: 15px;


}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #00394d;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham2 .top {
  stroke-dasharray: 40 121;
}

.ham2 .bottom {
  stroke-dasharray: 40 121;
}

.ham2.active .top {
  stroke-dashoffset: -102px;
}

.ham2.active .bottom {
  stroke-dashoffset: -102px;
}
.rh {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.a3 {
  color: white;
}

.heading1 {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: white;
  margin-top: 20px;
  font-size: 10px;
}

.log2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}

.ll1 {
  color: white;
  font-size: 15px;
  outline: none;
  border: none;
  text-decoration: none;
  font-weight: bolder;

}

.box1 {
  width: 80%;
  height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;

}