.rt {
    height: 50px;
    border: 1px solid #DDE3E5;
    border-radius: 8px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    width: 50%;
}

.sea {
    margin-left: 4px;
    width: 40px;

    font-size: 20px;
    color: #C0C0C0;

}
.header1 {
    background-color: white;
    border: 1px solid lightgray;
    font-size: 1.3rem;
    font-weight: 500;
    color: #00394D;
    padding: 0.3rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.rty {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}